<div class="container">

<h1>UK Postcode Validation</h1>


<%= link_to 'Single Postcode', new_postcode_path, :class=>"btn btn-primary btn-lg" %>
<%= link_to 'Import CSV File', postcodedata_path, :class=>"btn btn-success btn-lg" %>
