<div class="container">

<h1>Validate a single postcode</h1>

<%= render 'form', postcode: @postcode %>

<br>

<div class="container">
<%= link_to 'Back', root_path, :class=>"btn btn-default" %>
</div>

</div>
