<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Task</title>
=======
    <title>Nhstask</title>
>>>>>>> fd31c8cfa51fdee45960d86fa085cefc2ebef888
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
